<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daily.dao.BoardDao">

	<resultMap type="Board" id="BoardMap">
		<id column="board_no" property="boardNumber" />
		<result column="title" property="title" />
		<result column="content" property="content" />
	</resultMap>

	<insert id="insert" parameterType="Board"
		useGeneratedKeys="true" keyColumn="board_no" keyProperty="boardNumber">
		insert into board(
		title,
		content)
		values(
		#{title},
		#{content})
	</insert>

	<select id="findAll" resultMap="BoardMap">
		select
		board_no,
		title,
		content
		from board
		order by
		board_no desc
	</select>

	<select id="findByNo" resultMap="BoardMap" parameterType="int">
		select
		board_no,
		title,
		content
		from board	
		where
		board_no=#{boardNumber}
	</select>

	<delete id="delete" parameterType="int">
		delete from board
		where
		board_no=#{boardNumber}
	</delete>

</mapper>