@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

/* index page */
#index-wrapper {
	width: 100%;
	height: 100%;
}

#index-header {
	width: 100%;
	height: 13em;
	float: left;
}

#index-header_menu {
	width: 100%;
	height: 2.6em;
	float: left;
	background-color:beige;
}

#index-header_inner {
	display: block;
	width: 300px;
	height: 100%;
	padding: 12px 1px 1px 1px;
	float: right;
}

#index-header_logo {
	width: 100%;
	height: 7em;
	float: left;
}

#index-header_category {
	width: 100%;
	height: 2.6em;
	float: left;
}

#index-header_login > a {
	display:block;
	width: 50px;
	height: 100%;
	float: right;
	text-decoration:none;
}

#index-header_joinus > a {
	display:block;
	width: 40px;
	height: 100%;
	float: right;
	text-decoration:none;
}

#index-header_logout > a {
	display:block;
	width: 50px;
	height: 100%;
	float: right;
	text-decoration:none;
}

#index-header_mypage {
	width: 55px;
	height: 100%;
	float: right;
}

#index-header_cart {
	width: 34px;
	height: 100%;
	float: right;
}

#index-header_bookmark {
	width: 70px;
	height: 100%;
	float: right;
}

#index-header_home>img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 0px 50px 0px;
}
#index-container {
	width: 100%;
	height: 1000px;
}

#index-footer {
	width: 100%;
	height: 40em;
	float: left;
}

#index-footer_sns {
	width: 100%;
	height: 200px;
}

#index-footer_inner {
	width: 100%;
	height: 300px;
}

#index-footer_CustomerCnter {
	width: 20%;
	height: 300px;
	float: left;
}

#index-footer_BankAccount {
	width: 20%;
	height: 300px;
	float: left;
}

#index-footer_Community {
	width: 20%;
	height: 300px;
	float: left;
}

#index-footer_MemberShip {
	width: 20%;
	height: 300px;
	float: left;
}

#index-footer_Guide {
	width: 20%;
	height: 300px;
	float: left;
}

#index-footer_company_info {
	width: 100%;
	height: 200px;
}

/* index page */
#wrapper {
	width: 100%;
	float: left;
}

#header {
	width: 100%;
	height: 13em;
	float: left;
}

#header_menu {
	width: 100%;
	height: 2.6em;
	float: left;
	background-color:beige;
}

#header_inner {
	display: block;
	width: 300px;
	height: 100%;
	padding: 12px 1px 1px 1px;
	float: right;
}

#header_logo {
	width: 100%;
	height: 7em;
	float: left;
}

#header_category {
	width: 100%;
	height: 2.6em;
	float: left;
}

#header_login > a {
	display:block;
	width: 50px;
	height: 100%;
	float: right;
	text-decoration:none;
}

#header_joinus > a {
	display:block;
	width: 40px;
	height: 100%;
	float: right;
	text-decoration:none;
}

#header_logout > a {
	display:block;
	width: 50px;
	height: 100%;
	float: right;
	text-decoration:none;
}

#header_mypage {
	width: 55px;
	height: 100%;
	float: right;
}

#header_cart {
	width: 34px;
	height: 100%;
	float: right;
}

#header_bookmark {
	width: 70px;
	height: 100%;
	float: right;
}

#header_home>img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 0px 50px 0px;
}

#container {
	width: 100%;
	float: left;
	height: 1000px;
}

#footer {
	width: 100%;
	height: 8em;
	float: left;
}

/* footer inner */
#footer_sns {
	width: 100%;
	height: 200px;
}

#footer_inner {
	width: 100%;
	height: 300px;
}

#footer_CustomerCnter {
	width: 20%;
	height: 300px;
	float: left;
}

#footer_BankAccount {
	width: 20%;
	height: 300px;
	float: left;
}

#footer_Community {
	width: 20%;
	height: 300px;
	float: left;
}

#footer_MemberShip {
	width: 20%;
	height: 300px;
	float: left;
}

#footer_Guide {
	width: 20%;
	height: 300px;
	float: left;
}

#footer_company_info {
	width: 100%;
	height: 200px;
}
/* footer inner */