@charset "UTF-8";
                              
#wrapper {
	width: 100%;
	height: 100%;
	background-color: skyblue;
	float: left;
}

#header {
	width: 100%;
	height: 10%;
	background-color: pink;
	float:left;
}

#footer {
	width: 100%;
	height: 10%;
	background-color: darkviolet;
	float:left;
}

#container {
	width: 100%;
	height: 80%;
	background-color: darkgrey;
	float:left;
}

