@charset "UTF-8";

* {
	margin: auto;
	padding: auto;
	list-style: none;
	text-decoration: none;
	text-align: center;
}

#wrap {
	width: 100%;
	height: 100%;
	background-color: skyblue;
	float: auto;
}

#header {
	width: 100%;
	height: 10%;
	background-color: pink;
}

#container {
	width: 100%;
	height: 80%;
	background-color: darkgrey;
}

#footer {
	width: 100%;
	height: 10%;
	background-color: darkviolet;
}